################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/binaries/
/vesuvio/build/
/vesuvio/vesuvio.vcxproj.filters
/vesuvio/vesuvio.vcxproj.user
/vesuvio/assets/shaders/compiled