################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sample_app/Debug/**
/sample_app/Release/**
/sample_app/x64/**
/sample_app/sample_app.vcxproj.filters
/sample_app/sample_app.vcxproj.user
/sample_app/assets/shaders/compiled/**

/vesuvio/core/Debug/**
/vesuvio/core/Release/**
/vesuvio/core/x64/**
/vesuvio/core/core.vcxproj.filters
/vesuvio/core/core.vcxproj.user

/vesuvio/gfx/Debug/**
/vesuvio/gfx/Release/**
/vesuvio/gfx/x64/**
/vesuvio/gfx/gfx.vcxproj.filters
/vesuvio/gfx/gfx.vcxproj.user

/vesuvio/runtime/Debug/**
/vesuvio/runtime/Release/**
/vesuvio/runtime/x64/**
/vesuvio/runtime/runtime.vcxproj.filters
/vesuvio/runtime/runtime.vcxproj.user